.folder,
.file {
  cursor: pointer;
  font-size: 11px;
  color: #000000;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

/* Folder styles */
.folder {
  display: block;
  align-items: center;
}

.folder:hover {
  background-color: #f4845f;
  color: #ffffff;
}

/* File styles */
.file {
  padding-left: 10px;
}

.file:hover {
  background-color: #f4845f;
  color: #ffffff;
}

/* Expandable content */
.folder + div {
  margin-left: 10px;
  border-left: 1px solid #3c3f41;
}

/* Icons and animations */
.folder > span::before {
  content: "▸";
  display: inline-block;
  color: #000000;
  transition: transform 0.2s ease;
  margin-right: 5px;
}

.folder.open > span::before {
  transform: rotate(90deg);
  color: #000000;

}

.button-container {
  display: flex;
}
.button-container :hover {
  background-color: #f4845f;
  border: none;
}

.add-doc,
.add-folder {
  background-color: #6c757d;
  border-radius: 0%;
  cursor: pointer;
  font-size: 11px;
  max-width: 100%;
  width: 50%;
  padding: 0%;
}

.add-doc :hover,
.add-folder :hover {
  background-color: #f4845f;
  border-radius: 0%;
  cursor: pointer;
  font-size: 11px;
  max-width: 100%;

  padding-left: 20%;
}

.drag-over {
  border: 2px dashed #666;
  background-color: rgba(0, 0, 0, 0.1);
}

.drop-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #666;
}




/* Styles for the create buttons container */
.header-cont {
  display: flex;
  justify-content: end;
  background-color: #ced4da;
}

.workspace-name-cont {
  width: 100%;
}

.workspace-name {
  cursor: auto;
  font-size: 15px;
  justify-content: start;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 1px;
  font-style: bold;
}

.create-fold-btn,
.create-doc-btn {
  background-color: #ced4da; 
  color: #000000;
  border: none;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  border-radius: 0px;
}

/* Hover effect for buttons */
.create-fold-btn:hover,
.create-doc-btn:hover {
  background-color: #f4845f;
  color: #000000;
}

/* Adjust button containers */
.create-fold-cont,
.create-doc-container {
  display: flex;
  align-items: center;
}

.file input, .folder input {
  background: transparent;
  border: 1px solid #666;
  padding: 2px 4px;
  font-size: inherit;
  width: 80%;
}

.file input:focus, .folder input:focus {
  outline: none;
  border-color: #0066cc;
}

.file {
  cursor: move; /* Show move cursor on files */
}

.folder {
  cursor: pointer; /* Show pointer on folders */
}

.file:hover .delete-btn,
.folder:hover .delete-btn {
  visibility: visible !important;
}

.delete-btn:hover {
  transform: scale(1.1);
}

