.document-view {
  display: flex;
  height: 100%;
  width: 100%;
}

.file-explorer {
  width: 24vh;
  height: 100%;
  white-space: nowrap;
  width: 20vw;
}

.file-renderer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Prevents document scrolling */
}



.flashcard-maker {
  width: 40vw;
  overflow-y: scroll

}