.document-view {
  display: flex;
  height: 100%;
}

.file-explorer {
  width: 24vh;
  height: 100%;
  white-space: nowrap;
}

.file-renderer {
  display: flex;
  height: 100%;
  width: 100vh;

}

.flashcard-maker {
  width: 65vh;
}